.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.select-pagination {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}
.container-pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.page-numbers {
  display: flex;
  gap: 0.5rem;
}
