<div class="container">
  <div class="header">
    <input
      type="text"
      id="search"
      name="search"
      placeholder="Buscar"
      [formControl]="search" />
    <button class="btn-add" (click)="redirectNew()">Agregar</button>
  </div>
  <div class="card">
    <table>
      <thead>
        <tr class="header-table">
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of productsFiltered; track item.id) {
          <tr class="body-table">
            <td><img [src]="item.logo" alt="" srcset="" class="avatar" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_release | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.date_revision | date: 'dd/MM/yyyy' }}</td>
            <td>
              <div class="image-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="context-menu">
                  <div class="menu">
                    <button type="button" (click)="redirectEdit(item.id)">
                      Editar
                    </button>
                    <button type="button" (click)="showModal(item)">
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        } @empty {
          <tr class="message-empty">
            <td colspan="5">No hay registros</td>
          </tr>
        }
      </tbody>
    </table>
    @if (productsFiltered.length > 0) {
      <app-pagination
        [total]="products.length"
        [page]="pageCurrent"
        [row]="row"
        (changePage)="changePage($event)"
        (changeRow)="getAllProducts($event)" />
    }
  </div>
</div>

@if (displayModal) {
  <app-confirmation-modal
    [title]="product!.name"
    (cancel)="hiddenModal()"
    (confirm)="deleteProduct()" />
}
